* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-family: Neucha, sans-serif;
    letter-spacing: 3px;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 20px;
}


.hide {
    display: none;
}


/* Start Page */

.start-page {
    background-image: url("../assets/bg.jpg");
    background-size: cover;
}

.start-page-container {
    min-height: calc(100vh - 70px);
}

.start-page-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ball {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.ball-left {
    width: 400px;
    height: 500px;
    left: 15vw;
    top: 150px;
    background-image: url("../assets/ball/1.png");
}

.ball-right {
    width: 240px;
    height: 300px;
    top: 150px;
    right: 15vw;
    background-image: url("../assets/ball/2.png");
}

.start-page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 600px;
    height: 250px;
    margin-top: 300px;
    color: white;
    font-size: 52px;
    font-weight: normal;
    border: 2px solid #278D9F;
    border-radius: 30px;
    background-color: #1f707f4d;
    backdrop-filter: blur(10px);
}

.start-page-btn {
    width: 200px;
    height: 60px;
    border: 2px solid #278D9F;
    border-radius: 30px;
    background-color: #1f707f4d;
    backdrop-filter: blur(10px);
    font-weight: lighter;
    font-size: 22px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.start-page-btn:hover {
    backdrop-filter: blur(0px);
}

/* toys page */

.toys-page {
    background-color: #121C1E;
}

.toys-page-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* height: calc(100vh - 70px); */
}

.aside-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.aside-top {
    display: flex;
}

.aside-logo {
    fill: white;
    transition: .3s;
}

.aside-logo:hover {
    fill: #278D9F;
}

.toys-page-link,
.spruce-page {
    display: block;
    color: #fff;
    text-transform: uppercase;
    transition: .3s;
}

.toys-page-link:hover,
.spruce-page:hover {
    color: #278D9F;
}

.aside-search {
    outline: 0;
    width: 254px;
    height: 36px;
    padding: 5px 25px;
    margin: 10px 0;
    margin-right: 30px;
    border-radius: 20px;
    border: 1px solid #278D9F;
    color: #fff;
    font-size: 18px;
    background-color: #1f707f4d;
    background-image: url("../assets/svg/search.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 200px center;
}

::-webkit-search-cancel-button {
    display: none;
}

.aside-filter-select {
    display: flex;
}

.aside-select-label {
    margin: 0;
}

.aside-sort-select {
    appearance: none;
    width: 300px;
    height: 30px;
    padding: 5px 25px;
    margin-left: 20px;
    background-color: rgba(31, 112, 127, .3);
    background-image: url("../assets/svg/arrow-down.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 270px center;
    border-radius: 20px;
    border: 1px solid #278D9F;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.aside-sort-select option {
    color: inherit;
    background-color: #183E42;
}

.aside-sort-select:focus {
    outline: none;
}

.shape-select button {
    width: 40px;
    height: 40px;
    margin: 10px 7px;
    border: 0;
    outline: 0;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: .3s;
}

.shape-select button:hover {
    filter: invert(20%);
}

.shape-select button.active {
    filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}

.shape-select button:nth-child(1) {
    background-image: url("../assets/svg/ball.svg");
}

.shape-select button:nth-child(2) {
    background-image: url("../assets/svg/bell.svg");
}

.shape-select button:nth-child(3) {
    background-image: url("../assets/svg/cone.svg");
}

.shape-select button:nth-child(4) {
    background-image: url("../assets/svg/snow.svg");
}

.shape-select button:nth-child(5) {
    background-image: url("../assets/svg/toy.svg");
}

.color-select button {
    width: 30px;
    height: 30px;
    margin: 15px 10px;
    border: 2px solid #278D9F;
    border-radius: 5px;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

.color-select button:nth-child(1) {
    background-color: white;
}

.color-select button:nth-child(2) {
    background-color: yellow;
}

.color-select button:nth-child(3) {
    background-color: red;
}

.color-select button:nth-child(4) {
    background-color: blue;
}

.color-select button:nth-child(5) {
    background-color: green;
}

.color-select button:hover {
    border: 2px solid gray;
    filter: invert(20%);
}

.count-slider-container,
.year-slider-container {
    height: 3px;
    border: none;
}

.count-slider-container .noUi-connect,
.year-slider-container .noUi-connect {
    background: #278D9F;
}

.count-slider-container .noUi-handle,
.year-slider-container .noUi-handle {
    height: 14px;
    width: 14px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
}

.count-slider-container .noUi-handle:after,
.count-slider-container .noUi-handle:before,
.year-slider-container .noUi-handle:after,
.year-slider-container .noUi-handle:before {
    display: none;
}

.count-values,
.year-values {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

/* Toys block */

.toys-block {
    padding: 0 20px;
}

.toys-block-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 36px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 222px;
    height: 342px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #278D9F;
    background-color: #B3F6FF4D;
    cursor: pointer;
}

.card-title {
    margin: 0;
    font-size: 18px;
}

.card-img {
    width: 84px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.card-description {
    font-size: 14px;
    line-height: 1;
}

.card-description p span {
    padding-left: 7px;
}


/* Footer */

.footer {
    background-color: #121C1E;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}


.footer-github-link {
    font-size: 14px;
    padding: 0 20px;
    transition: .3s;
}

.footer-github-link:hover {
    color: #278D9F;
}

.rss-logo {
    fill: white;
    transition: .3s;
}

.rss-logo:hover {
    fill: #278D9F;
}