.aside-filter-select {
    display: flex;
}

.aside-select-label {
    margin: 0;
}

.aside-sort-select {
    appearance: none;
    width: 300px;
    height: 30px;
    padding: 5px 25px;
    margin-left: 20px;
    background-color: rgba(31, 112, 127, .3);
    background-image: url("../../assets/svg/arrow-down.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 270px center;
    border-radius: 20px;
    border: 1px solid #278D9F;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.aside-sort-select option {
    color: inherit;
    background-color: #183E42;
}

.aside-sort-select:focus {
    outline: none;
}
